<div class="card">
    <div class="card-header">
        {{title}}

    </div>
    <div class="card-body">
        <div class="table-resposive">
            <div class="table">
                 
               <thead>
                
                 <tr>
                  <th>Book Name</th>
                  <th>Author</th>                 
                  <th>Genre</th>
                  <th><button class="btn btn-primary">Image</button></th>                

                </tr>


               </thead>
            </div>


        </div>

    </div>

</div>
